<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Narciarze.Properties.Settings.NarciarzeConnectionString"
            connectionString="Server=localhost\SQLEXPRESS;Database=master;Trusted_Connection=True;" />
        <add name="Narciarze.Properties.Settings.C__USERS_SEKWAD_DESKTOP_STUDIA_ZSBD_NARCIARZE_MDFConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=C:\USERS\SEKWAD\DESKTOP\STUDIA\ZSBD\NARCIARZE.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>